.fc-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin-top: 15vh;
    gap: 5vh;
}

.fc-form h2{
    font-size: 3vw;
    color: #FFF;
}

.fc-form input,
.fc-form select{
    border: 1px solid #024637;
    background: #FFF;
    border-radius: 10px;
    width: 25vw;
    height: 7vh;
    padding: 10px;
    font-size: 1vw;
    margin-bottom: 1vh;
}

.fc-form #msg{
    width: 100%;
    height: 20vh;
}