.menu{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 30px 100px;
}

.menu ul{
    display: flex;
    width: 35%;
    justify-content: space-between;
    margin-top: 20px;
}

.menu li{
    list-style-type: none;
    font-size: 1.7vw;
    color: white;
}

.menu img{
    width: 5.5vw;
}